version: '3'
services:

  filebeat:
    restart: always
    image: filebeat-radsecproxy
    container_name: filebeat-radsecproxy
    env_file:
        - filebeat-radsecproxy.env
        - global-env.env
    volumes:
        - filebeat-registry:/var/lib/filebeat
        # map radsecproxy logs as /var/log/radsecproxy
        - /var/log/radsecproxy:/var/log/radsecproxy

volumes:
  # all volume names will get prefixed with the project name - "filebeatradsecproxy_"
  filebeat-registry: {}
