version: '2'
services:

  filebeat:
    restart: always
    image: reannz/filebeat-radius:latest
    container_name: filebeat-radius
    env_file:
        - filebeat-radius.env
        - global-env.env
    volumes:
        - filebeat-registry:/var/lib/filebeat
        # map freeradius logs as /var/log/radius
        - /var/log/freeradius:/var/log/radius

volumes:
  # all volume names will get prefixed with the project name - "filebeatradius_"
  filebeat-registry: {}
